@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

button {
  text-transform: uppercase;
}